BIKE/build/classes/.netbeans_automatic_build
# NetBeans specific #
BIKE/nbproject/private/
BIKE/build/
BIKE/nbbuild/
BIKE/dist/
BIKE/nbdist/
BIKE/nbactions.xml
BIKE/nb-configuration.xml

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/pruebasBIKE/nbproject/private/
/pruebasBIKE/build/